<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find urdf_example)/urdf/myRobot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find urdf_example)/rviz/urdf.rviz" />
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="sim" default="true"/>
  
  <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf_example)/worlds/urdf_example.world"/>
     <!-- more default parameters can be changed here -->
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find robot40sim)/config/joints.yaml"
            ns="robot40_joint_state_controller" />
  <rosparam command="load"
            file="$(find urdf_example)/config/head.yaml"
            ns="robot40_head_controller" />
  <rosparam command="load"
            file="$(find urdf_example)/config/diffdrive.yaml"
            ns="robot40_diff_drive_controller" />

  <node name="robot40_controller_spawner" pkg="controller_manager" type="spawner"
    args="robot40_joint_state_controller
          robot40_head_controller
          robot40_diff_drive_controller
          --shutdown-timeout 3"/>
  
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/robot40_diff_drive_controller/cmd_vel"/>
  </node>
  
  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find urdf_example)/config/left_arm_controller_ur3.yaml" command="load"/>
  <node name="left_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn left_arm_controller" respawn="false" output="screen"/>
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />
  
</launch>
